#menu li > a {
    font-size: 18px;
    font-weight:bold;
    color: #3f3f3f;
}

#menu form > button {
    font: size 18px;;
    font-weight:bold;
}


/*=========================== slider de las imagenes ============================*/

.carousel-inner {
    max-height: 26rem;
}

/*=========================== media queries ============================*/

@media (max-width:768px) {  
    #intro {
        width:90% !important; 
    }
}  


footer {
    background-color: #198754;
    text-align: center;
    color: white;
    padding: 20px;
  }
  